{% extends 'songapp/base.html' %}

{% load static %}

{% block content %}
<!-- List of titles -->
<div class="row">
    <div class="col-sm-11 col-md-8 mx-auto">
        <div class="list-group text-center mt-3">
            <h4 class="list-group-item text-dark bg-warning">Chants</h4>
            {% for song in songs %}
                <a href="paroles-{{ song.id }}/" class="list-group-item list-group-item-action bg-dark text-white">{{ song.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!---->
{% endblock %}
