.list-group-item {
  border: 1px solid #ffc107;
}

.calendar {
  width: 100%;
  border: 1px solid #ffc107;
}

.calendar td {
  width: 14.126%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.month {
  font-size: 1.5rem;
}

.date {
  font-size: 1.25rem;
}

.left {
  float: left;
}

.right {
  float: right;
}
