env/

canteradjango/__pycache__/

songapp/__pycache__/

songapp/migrations/__pycache__/

songapp/migrations/0*.py

eventapp/__pycache__/

eventapp/migrations/__pycache__/

eventapp/migrations/0*.py

managerapp/__pycache__/

managerapp/migrations/__pycache__/

managerapp/migrations/0*.py
