{% extends 'songapp/base.html' %}

{% load static %}

{% block content %}
<!-- calendar and events -->
<div class="card text-white bg-dark mx-auto mt-3 mb-3">
    <div class="card-header text-dark bg-warning text-center">
        <h4>
            <a class="btn btn-warning left" href="/evenements/{{ prev_month }}/"><img src="{% static 'img/preview.png' %}"></a>
            Évènements
            <a class="btn btn-warning right" href="/evenements/{{ next_month }}/"><img src="{% static 'img/next.png' %}"></a>
        </h4>
    </div>
    <div class="row card-body">
        <!-- calendar -->
        <div class="col-12 col-md-6 text-center mb-2">
            {{ calendar|safe }}
        </div>
        <!-- -->
        <div class="col-12 col-md-6 text-center">
            <div class="row">
                {% if events.count == 0 %}
                    <!-- no event -->
                    <div class="col-12">
                        <div class="alert alert-warning text-dark text-center mx-auto">
                            Pas d'évènement prévu.
                        </div>
                    </div>
                    <!---->
                {% else %}
                    <!-- card for each event for this month -->
                    {% for event in events %}
                        <div class="col-12 mb-2">
                            <div class="card text-dark bg-warning">
                                <div class="card-header text-left">
                                {{ event.start_time|date:'D d F Y à H\hi' }}
                                </div>
                                <div class="card-body text-white bg-dark">
                                    <h5 class="card-title">{{ event.title }}</h5>
                                    <p class="card-text text-left">{{ event.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!---->
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!---->
{% endblock %}
